<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> People in space</title>
</head>
<body>
<h2><b>There are {{number}} people up on the space station right now.</b></h2>
</body>
</html>